
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto; 
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after, .menu::after {
    content: "";
    display: block;
    clear: both;
    font-size: 15px;
} 

.col-md-4::after {
    content: "";
    display: block;
    clear: both;
}

.arrow {
    font-size: 12px;
    position: absolute;
    top: -2px;
}

.row2::after {
    height: 30px;
} 

.col-md-3 {
    width: 25%;
    height: 50px;
}

.col-md-6 {
    width: 50%;
}

.col-md-9 {
    width: 75%;
    /* height: 50px; */
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo {
    padding-top: 7px;
}

.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a:hover {
    background-color:#2c71b8;
    color: #fff;
}

.search-btn {
    background: #2c71b8;
    width: 30px;
    height: 30px;
    margin-left: 6px;
    border: 1px solid #2c71b8;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    padding: 4px;
    position: relative;
    top: -35px;
    right: -110px;
}

.search {
    color: white;
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 21px;
    width: 150px;
}

::-webkit-input-placeholder {
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
}

.col-md-8 {
    width: 60%;
}

.col-md-10 {
    width: 80%;
}

.col-md-2 {
    width: 40%;
    padding-left: 63px;
}

#search {
    border: 1px solid #2c71b8;
    width: 200px;
    height: 40px;
}

input[type="text"] {
    color: #2c71b8;
    padding: 8px 20px;
    font-weight: 100;
    font-size: 20px;
}

.cart {
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    background-image: url(images/basket.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    margin-left: 30px;
}


.product-count {
    background-color: #2c71b8;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -10px;
    left: -7px;
}

.menu ul li:hover {
    background: #fff
}

.menu ul li {
    background-color: #2c71b8;
    width: 286px;
    height: 50px;
    position: relative;
} 

.menu ul li > a {
    color: #fff;
    text-align: left;
}

ul li:hover > a {
    color: #fff;
}

.menu ul li > a:hover {
    background: #fff;
    color: #2c71b8;
}

.menu ul li:hover > ul {
    color: rgb(202, 219, 237);
}

.col-md-6 ul li:hover {
    background: #2c71b8;
}

.col-md-6 ul li:hover .submenu {
    display: block;
    position: absolute;
}

.col-md-6 ul li:hover .sub-menu ul {
    display: block;
}

.submenu {
    position: absolute; 
    top: 50px;
    left: -1px;
    display: none;
}

.submenu > li > a {
    padding-left: 30px;
}

.main-nav .arrow::after {
    content: '\fe40';
    position: relative;
    top: 7px;
    left: 7px;
}

li {
    position: relative;
    padding: -1px;
}

.col-md-1 {
    width: 100px;
}

.col-md-4.2 {
    width: 300px;
}

.col-md-4 {
    width: 300px;
    padding: 30px;
    margin: -3px;
    height: 650px;
}

.col-md-12 {
    width: 100%;
}

.items {
    border: #fff solid 1px;
    width: 270px;
}

.slide {
    color: #fff;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    height: 400px;
    padding: 150px;
}

section {
    background-color: rgba(0, 0, 0, 0.25);
    height: 400px;
}

.checkbox {
    color: white;
    font-weight: 100;
    float: left;
    width: 270px;
    height: 845px;
    background: rgba(255, 255, 255, 0.25);
    padding: 30px;
    border-right: #fff solid 1px;
}

p {
    color: #fff;
    font-size: 34px;
}

.section {
    border-bottom: #fff solid 1px;
}

.headline-main {
    padding-top: 30px;
}

.product {
    width: 270px;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    border-right: #fff solid 1px;
    position: relative;
}

.product-img {
    height: 180px;
    width: 270px;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 40px;
}

span {
    font-weight: bold;
}

.device-name {
    font-size: 30px;
}

.product-description {
    height: 470px;
    background: #2c72b894;
}

.device {
    padding: 8px;
}

.product-price {
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    top: 20px;
}

.btns {
    margin: 30px;
}

.more-details-btn {
    background-color: inherit;
    border: #fff solid 1px;
    height: 48px;
    width: 210px;
    color: #fff;
    font-size: 20px;
}

.add-to-cart-btn {
    position: relative;
    top: -8px;
    background-color: inherit;
    border: #fff solid 1px;
    color: #fff;
    font-size: 20px;
    height: 48px;
    width: 210px;

}

.more-details-btn:hover, .add-to-cart-btn:hover {
    border: rgba(255, 255, 255, 0.25) solid 0px;
    background-position: 10px 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

.white-cart {
    background-image: url(images/cart.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    left: 175px;
    padding: 12px;
}

.addtocart {
    position: absolute;
    left: 27px;
    top: 14px;
}

.change {
    font-size: 26px;
    position: relative;
    top: -43px;
    left: 65px;
}

.change2 {
    font-size: 26px;
    position: relative;
    top: -43px;
    left: 75px;
}

.zoom {
    background-image: url(images/icon8.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 225px;
    border: #2c71b8 solid 1px;
    width: 30px;
    height: 30px;
}

.favourite {
    background-image: url(images/icon5.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 225px;
    border: #2c71b8 solid 1px;
    width: 30px;
    height: 30px;
}

.zoom:hover {
    background: #2c71b8;
    background-image: url(images/icon6.png);
    background-repeat: no-repeat;
    background-position: center;
}

.favourite:hover {
    background: #2c71b8;
    background-image: url(images/icon7.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sort_by {
    padding-top: 20px;
}

select {
    background-color: #2c71b8;
    border: #fff solid 1px;
    color: #fff;
    width: 270px;
    height: 40px;
    padding: 10px;
}

option {
    font-size: 12px;
}

.footer {
    background-color:  rgba(255, 255, 255, 0.75);
    height: 100px;
    text-align: center;
    padding-top: 45px;
    color: #2c71b8;
    font-size: 21px;
}

.row::after .breadcrumbs::after{
    content: "";
    display: block;
    clear: both;
}

.load-more {
    display: block;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    height: 150px;
    padding: 50px 400px 60px 600px;
}